* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "欣意吉祥宋";
    src: url("../fonts/XinYiJiXiangSong.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    font-family: 欣意吉祥宋, serif;
}